body{
  background: url(gradient.png) no-repeat;
  background-size: cover;
}
header{
  background-color: rgb(177, 29, 140);
}
#logo{
  width: 100px;
  height: 100px;
}
header div h1{
  padding-top: 1.5rem;
}
a{ 
  text-decoration: none; 
  color:rgb(92, 16, 122);
}
th, td{
  border: solid 1px #000;
  padding: 8px;
}
.odd
{
  background-color: rgb(176, 123, 212);
}
.even
{
  background-color: rgb(210, 140, 224);
}
#footer{
  background-color:rgb(225, 173, 230);
}
.box{
  background-color: rgb(225, 173, 230);
}